:root {
    --cor-primaria: #e8eef5;
    --cor-secundaria: #586c8f;
    --cor-fundo: #03235c;
    --cor-texto: #e8eef5;
    --cor-contraste: #03235c;
    --cor-botao: #586c8f;
}

body {
    max-width: 100vw;
}

header{
    background-color: #e8eef5;
    color:#03235c;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}
            
main {
    background-color: #03235c;
    color:#e8eef5;
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;

    border: 1px solid #e8eef5;

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;

    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img{
    width: 80px;
     height: 80px;
}

.artigo-autor{
    font-weight: bold;
}